* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5 {
  color: #fff;
}

p,
li,
a,
button {
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
  line-height: 1.6;
  color: #fff;
}

li {
  list-style: none;
}

a {
  color: #000;

  &:hover {
    color: #2e86c1;
  }
}

/* Layout  */

.container {
  max-width: 130rem;
  margin: auto;
}

.grid {
  display: grid;
}

.grid-two-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid-three-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid-four-cols {
  grid-template-columns: repeat(4, 1fr);
}

/* Header  */

header {
  height: 10rem;
  box-shadow: rgba(255, 255, 255, 0.3) 0px 10px 10px -10px;
  background-color: #787a84;
  width: 100%;

  & .container {
    height: 10rem;
  }
}

.navbar-grid {
  grid-template-columns: 0.5fr 1fr;
  align-items: center;
  height: 10rem;
  padding: 0 3.2rem;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  gap: 3.2rem;
  color: #fff;

  & li a {
    color: #fff;
  }
}

.Logo img {
  height: 90px;        
  width: auto;
  display: block;
  object-fit: contain;
}

.ham-menu {
  display: none;
}

/* media queries  */
@media screen and (max-width: 998px) {
  .menu-web {
    display: none;
  }

  .ham-menu {
    display: flex;
    justify-content: flex-end;
  }

  .menu-mobile {
    display: block;
    position: absolute;
    top: 10rem;
    left: 0;
    width: 100%;
    background-color: #B8BCC3;
    box-shadow: rgba(255, 252, 252, 0.25) 0px 14px 28px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: transform 0.2s ease-in, opacity 0.2s ease-in, visibility 0s linear 0.2s;
  }

  .menu-mobile.menu-open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: transform 0.4s ease-out, opacity 0.4s ease-out;
  }

  .menu-mobile ul {
    display: flex;
    flex-direction: column;
    align-items: center;

    & li:first-child {
      margin-top: 1.2rem;
    }

    & li:last-child {
      margin-bottom: 1.2rem;
    }
  }
}